

<div>
    <img src="@Url.Content("~/Content/images/top.jpg")">
</div>
<div class="padding">
    <div class="row-fluid">
        <div class="span3 subnav">
            <h3>
                关于我们
            </h3>
            <ul id="aboutUs_nav">
                <li><a href="@Url.Content("~/AboutUs/Index")"><i class="icon"></i>平台简介</a></li>
                <li class="active"><a href="@Url.Content("~/AboutUs/Company")"><i class="icon"></i>运营公司</a></li>
                <li><a href="@Url.Content("~/AboutUs/Team")"><i class="icon"></i>管理团队</a></li>
                <li><a href="@Url.Content("~/AboutUs/ContactUs")"><i class="icon"></i>联系我们</a></li>
            </ul>
        </div>
        <div class="span9 contents">
            <p>
                <span style="color:#0088f0">南京小鹿创萌科技孵化器运营管理有限公司</span> <br>
                南京小鹿创萌科技孵化器运营管理有限公司是微软（中国）授权运营管理单位，负责运营南京微软云暨移动应用孵化平台。公司管理团队拥有专业的孵化器管理经验和丰富的社会资源，可以帮助创业团队加快发展速度，提高创业成功率。
            </p>
            <p>
                <span style="color:#0088f0">小鹿创萌创业学院</span><br>
                南京小鹿创萌科技孵化器运营管理有限公司将创建小鹿创萌创业学院，定期选择优质创业项目，进入小鹿创萌创业学院项目池，并通过小鹿创萌创业学院向南京微软云暨移动应用孵化平台推荐。<br>
                小鹿创萌创业学院将为优秀的平台在孵项目提供服务，帮助创业团队申请为期三个月的美国硅谷知名孵化器Y Combinator、Plug&play、StartX的免费交流与培训机会。
            </p>
        </div>
    </div>
</div>