
<div>
    <img src="@Url.Content("~/Content/images/top.jpg")">
</div>
<div class="padding">
    <div class="row-fluid">
        <div class="span3 subnav">
            <h3>
                关于我们
            </h3>
            <ul id="aboutUs_nav">
                <li><a href="@Url.Content("~/AboutUs/Index")"><i class="icon"></i>平台简介</a></li>
                <li><a href="@Url.Content("~/AboutUs/Company")"><i class="icon"></i>运营公司</a></li>
                <li><a href="@Url.Content("~/AboutUs/Team")"><i class="icon"></i>管理团队</a></li>
                <li class="active"><a href="@Url.Content("~/AboutUs/ContactUs")"><i class="icon"></i>联系我们</a></li>
            </ul>
        </div>
        <div class="span9 contents">
            <p>地 址：南京市栖霞区国家级南京经济技术开发区兴智路10号兴智科技园A座13层与14层</p>
            <p>邮 编：210046</p>
            <p>电 话：025-85532232</p>
            <p>邮 箱：admin@njmsincubator.com</p>
        </div>
    </div>
</div>