@{
    ViewBag.Title = "关于我们";
}

<div>
    <img src="@Url.Content("~/Content/images/top.jpg")">
</div>
<div class="padding">
    <div class="row-fluid">
        <div class="span3 subnav">
            <h3>
                关于我们
            </h3>
            <ul id="aboutUs_nav">
                <li class="active"><a href="@Url.Content("~/AboutUs/Index")"><i class="icon"></i>平台简介</a></li>
                <li><a href="@Url.Content("~/AboutUs/Company")"><i class="icon"></i>运营公司</a></li>
                <li><a href="@Url.Content("~/AboutUs/Team")"><i class="icon"></i>管理团队</a></li>
                <li><a href="@Url.Content("~/AboutUs/ContactUs")"><i class="icon"></i>联系我们</a></li>
            </ul>
        </div>
        <div class="span9 contents">
            <p>南京微软云暨移动应用孵化平台聚焦云计算、大数据、移动物联、移动互联、智能装备和人工智能等新兴产业的加速发展，依靠微软品牌的号召力、技术及平台的支撑，利用政府的优惠扶持政策，联手国内外知名创投基金，通过专业的孵化器运营管理，为入选企业和创业者提供专业的支持与服务，建立优质创业导师服务制度、搭建完整创业生态系统。创业企业申请后，经过筛选进入南京微软孵化平台，将可以获得12个月的免费办公空间，地址位于国家级南京经济技术开发区兴智科技园A座13与14层，享受南京经济技术开发区创业扶持政策，并得到由思想领袖、行业专家及技术专家组成的导师团的扶植与指导。同时，入驻团队还将获得多方面培训、融资机会对接、多种创业资源以及价值1000万人民币的微软软件服务和微软云服务。</p>
        </div>
    </div>
</div>

